<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>{{ title }}</title>
    </head>

    <body>
      <h2>{{ den }}</h2>
      <h5>{{ text }}</h5>
      <!-- <p><center><iframe src={{tabulka}} width="800px" height="500px"></iframe></center></p> -->
      <!-- <p><center><iframe src="https://docs.google.com/spreadsheets/d/1JpEUpUJ3slFP1y2PgJV1J_2_sBf5VOek4TUcq90P_Cs/pubhtml/sheet?headers=false&amp;gid=0&amp;range=A2:G43" width="800px" height="1000px"></iframe></center></p> -->
      <p><center><iframe src="https://docs.google.com/spreadsheets/d/1JpEUpUJ3slFP1y2PgJV1J_2_sBf5VOek4TUcq90P_Cs/pubhtml/sheet?headers=false&amp;gid=0&amp;range={{bunka_start}}:{{bunka_konec}}" width="800px" height="1000px"></iframe></center></p>

      <!-- <iframe src="https://docs.google.com/spreadsheets/d/1JpEUpUJ3slFP1y2PgJV1J_2_sBf5VOek4TUcq90P_Cs/pubhtml/sheet?headers=false&amp;gid=0&amp;range=A2:G43" width="800px" height="1000px"></iframe> -->

    </body>
    
</html>